/* assigning varibles */
:root{
    --primary: green;
    --secondary: #333;
    --white: #ffffff;
    --light: #666;
    --dim: #999;
    --shadow: #0000001a;
    --heading-bg: #33ff6621;
}
/* global settings */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    transition: .2s linear;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 60%;
}
section{
    padding: 2rem 9%;
}
.b{
    display: inline-block;
    margin-top: 1rem;
    background: var(--secondary);
    color: var(--white);
    border-radius: 20px;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.b:hover{
    background: var(--primary);
}
/* heading for all */
.heading{
    text-align: center;
    background: var(--heading-bg);
    color: var(--secondary);
    margin: 10rem 0 2rem 0;
    font-size: 4rem;
    padding: 1rem;
}
.heading span{
    color: var(--primary);
}
/* nav bar */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.5rem 1rem var(--shadow);
    padding: 2rem 9%;
    z-index: 100000;
}
header .logo{
    font-size: 3rem;
    color: var(--secondary);
    font-weight: bolder;
}
header .logo span{
    color: var(--primary);
}
header nav a{
    font-size: 2rem;
    padding: 0 2rem ;
    color: var(--secondary);
    text-transform: capitalize;
}
header nav a:hover{
    color: var(--primary);
}
/* header khallas */
/* home start */
.home{
    display: flex;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.home .disc{
    max-width: 50rem;
}
.home .disc h3{
    font-size: 6rem;
    color: var(--secondary);
}
.home .disc span{
    font-size: 3.4rem;
    color: var(--primary);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .disc p{
    font-size: 1.5rem;
    color: var(--secondary);
    padding: 1rem 0;
    line-height: 1.5;
}
/* about us start bhayoo */
.about .whole{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 2rem 0;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    gap: 2rem;    
}
.about .whole .img-container{
    flex: 1 1 40rem;
    position: relative;
}
.about .whole .img-container video{
    width: 100%;
    height: 100%;
    border: 1.5rem solid var(--white);
    box-shadow: .5rem 1rem var(--shadow);
    object-fit: cover;
    border-radius: .5rem;
}
.about .whole .img-container h3{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    background: var(--primary);
    color: var(--white);
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    transform: translateY(-50%);
}
.about .whole .disc{
    flex: 1 1 40rem;
}
.about .whole .disc h3{
    font-size: 3rem;
    color: var(--secondary);
}
.about .whole .disc p{
    font-size: 1.3rem;
    padding: .5rem 0;
    line-height: 1.5;
    padding-top: 1rem;
    color: var(--light);
}
/* about pani sakyoo */
/* biruwa ko bajarr */
.plants .all-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.plants .all-box .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem var(--shadow);
    position: relative;
    border: .1rem solid var(--shadow);
}
.plants .all-box .box .discount{
    position: absolute;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: var(--primary);
    background: var(--heading-bg);
    border-radius: .6rem;
    z-index: 1;
    top: 2rem;
    left: 1.5rem;
}
.plants .all-box .box .image{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
}
.plants .all-box .box .image img{
    height: 25rem;
}
.plants .all-box .box:hover .image img{
    transform: scale(1.3);
}
.plants .all-box .box .disc{
    padding: 2rem;
    text-align: center;
}
.plants .all-box .box .disc h3{
    font-size: 2.4rem;
    color: var(--secondary);
}
.plants .all-box .box .disc .damm{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primary);
    padding-top: 1rem;
}
.plants .all-box .box .disc .damm span{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--dim);
    font-weight: lighter;
}
/* biruwa haru sakiyeee */
/* faqq */
.faq-container{
    display: flex;
    
    font-size: 1.5rem;
    justify-content: center;
    flex-direction: column;
    
    }
    .faq{
        margin-top: 5%;
        border-bottom: 3px solid var(--secondary);
        padding-bottom: 4%;
    }
    .faq:hover{
        color: var(--primary);
    }
    .faq-page {
        
        color: #444;
        cursor: pointer;
        padding: 3% 2%;
        transition: 0.4s;
        margin: auto;
    
    }
    
    .faq-body {
        padding: 0 8px;
        background-color: white;
        overflow: hidden;
        margin: auto;
       padding: auto;
    }
    
/* grahakk haru ko bhanaii */
.talk .all-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.talk .all-box .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    position: relative;
    border: 1rem solid var(--shadow);
    box-shadow: 0 .5rem 1.5rem var(--shadow);
    padding: 2rem;
}
.talk .all-box .box p{
    font-size: 1.5rem;
    padding-top: 2rem;
    line-height: 1;
    color: var(--secondary);
}
.talk .all-box .box .costumer{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.talk .all-box .box .costumer img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.talk .all-box .box .costumer h3{
    font-size: 3rem;
    color: var(--secondary);
}
.talk .all-box .box .costumer span{
    font-size: 1.3rem;
    color: var(--dim);
    padding-top: 2rem;
}
/* review part end */
/* contact part start */
.samparka .whole{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap-reverse;
}
.samparka .whole form{
    flex: 1 1 40rem;
    border: .1rem solid var(--dim);
    border-radius: .5rem;
    background: var(--white);
    box-shadow: 0 .5rem 1.5rem var(--shadow);
    padding: 2rem 2.5rem;
}
.samparka .whole .image{
    flex: 1 1 40rem;
}
.samparka .whole .image img{
    width: 100%;
}
.samparka .whole form .box{
    font-size: 2rem;
    text-transform: none;
    border-radius: .5rem;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;
    color: var(--secondary);
    border: .1rem solid var(--shadow);
}
.samparka .whole form .box:focus{
    border-color: var(--primary);
}
.samparka .whole form textarea{
    height: 16rem;
    resize: none;
}
.credit{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 9%;
    margin: 1.5rem;
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
}
.credit span{
    color: var(--primary);
}
.social-media a{
    color: var(--secondary);
    margin: 5px;
    padding: 10px;

}
.social-media a:hover{
    color: var(--dim);
    background-color: var(--secondary);
    border-radius: 50px;
    margin: 5px;
    transition: ease-out 0.4s;
}
#option{
    display: none;
}
.fa-bars{
    display: none;
}
/* media queries */
@media (max-width:991px){
    html{
        font-size: 50%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:700px){
    .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        background-color: var(--white);
        top: 100%;
        left: 0;
        right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #option:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        background: var(--white);
        display: block;
        text-align: center;
    }
    .home .disc h3{
        font-size: 5rem;
    }
    .home .disc span{
        font-size: 2.5rem;
    }

}
@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}